.statedisablerightcontentnonedividerfalsetypelabellefticonfalse {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.statedisablerightcontentnonedividerfalsetypelabellefticonfalse svg {
  width: 100%;
  height: 100%;
}
