.propertypanelsetuplayoutsimulation3dvisualiationcommissioning {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.propertypanelsetuplayoutsimulation3dvisualiationcommissioning svg {
  width: 100%;
  height: 100%;
}
