.stateselectedrightcontentnonedividerfalsetypelabellefticonfalse {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.stateselectedrightcontentnonedividerfalsetypelabellefticonfalse svg {
  width: 100%;
  height: 100%;
}
