.stateiconexpandrightcontentnonedividerfalsetypemultiselectlefticonfalse {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.stateiconexpandrightcontentnonedividerfalsetypemultiselectlefticonfalse svg {
  width: 100%;
  height: 100%;
}
