.property1notificationcardsuccessfuullycompletednewtag {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.property1notificationcardsuccessfuullycompletednewtag svg {
  width: 100%;
  height: 100%;
}
