.statepressedrightcontenticondividerfalsetypelabellefticonfalse {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.statepressedrightcontenticondividerfalsetypelabellefticonfalse svg {
  width: 100%;
  height: 100%;
}
