.statedefaultrightcontentnonedividerfalsetypelabellefticonfalse {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.statedefaultrightcontentnonedividerfalsetypelabellefticonfalse svg {
  width: 100%;
  height: 100%;
}
