.stateiconexpandrightcontenticondividerfalsetypelabellefticonfalse {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.stateiconexpandrightcontenticondividerfalsetypelabellefticonfalse svg {
  width: 100%;
  height: 100%;
}
