.statelargebadgeredplusdarkmodefalseproperty3false {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.statelargebadgeredplusdarkmodefalseproperty3false svg {
  width: 100%;
  height: 100%;
}
