.statehighwaylargetypedefaultproperty3largearrows {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.statehighwaylargetypedefaultproperty3largearrows svg {
  width: 100%;
  height: 100%;
}
