.stateselectedrightcontenticondividerfalsetypelabellefticonfalse {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.stateselectedrightcontenticondividerfalsetypelabellefticonfalse svg {
  width: 100%;
  height: 100%;
}
