.statedefaultrightcontentnonedividerfalsetypeiconleftlefticonfalse {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.statedefaultrightcontentnonedividerfalsetypeiconleftlefticonfalse svg {
  width: 100%;
  height: 100%;
}
