.statepressedrightcontentnonedividerfalsetypelabellefticonfalse {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.statepressedrightcontentnonedividerfalsetypelabellefticonfalse svg {
  width: 100%;
  height: 100%;
}
