.statehoverrightcontenticondividerfalsetypelabellefticonfalse {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.statehoverrightcontenticondividerfalsetypelabellefticonfalse svg {
  width: 100%;
  height: 100%;
}
