.statepressedrightcontentshortkeydividerfalsetypelabellefticonfalse {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.statepressedrightcontentshortkeydividerfalsetypelabellefticonfalse svg {
  width: 100%;
  height: 100%;
}
