.statepressedrightcontenticondividerfalsetypelabellefticontrue {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.statepressedrightcontenticondividerfalsetypelabellefticontrue svg {
  width: 100%;
  height: 100%;
}
