.statehoverrightcontentshortkeydividerfalsetypelabellefticonfalse {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.statehoverrightcontentshortkeydividerfalsetypelabellefticonfalse svg {
  width: 100%;
  height: 100%;
}
