.statedefaultrightcontentnonedividerfalsetypemultiselectlefticonfalse {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.statedefaultrightcontentnonedividerfalsetypemultiselectlefticonfalse svg {
  width: 100%;
  height: 100%;
}
