.statehoverrightcontenticondividerfalsetypelabellefticontrue {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.statehoverrightcontenticondividerfalsetypelabellefticontrue svg {
  width: 100%;
  height: 100%;
}
