.stateselectedrightcontenticondividerfalsetypelabellefticontrue {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.stateselectedrightcontenticondividerfalsetypelabellefticontrue svg {
  width: 100%;
  height: 100%;
}
